.tests {
  &List {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &Item {
    padding: 0;
    margin: 40px 0;
  }
}

.tags {
  &List {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 -5px 10px;
  }

  &Item {
    padding: 0;
    margin: 0 5px;
  }
}
